<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Journal de modifications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Journal de modifications</h1>

        <p class="intro">
            Ce journal répertorie les évolutions du projet. Le code entier est visible ici : https://github.com/lemeilleurhackeur65645-cell/conjuguaisonv3
        </p>

        <div class="changelog-content">
            <!-- Tu mets ici ton texte, que tu modifieras depuis GitHub -->
            <h3>15 mars 2026</h3>
            <div class="changelog-entry">
                Création du système de proposition des questions
            </div>
          
            <h3>16 mars 2026</h3>
            <div class="changelog-entry">
                Implantation de la base de données des verbes
                Correction de bugs concernant les temps ayant moins de 6 pronoms personnels possibles
            </div>
          
            <h3>17 mars 2026</h3>
            <div class="changelog-entry">
                Création d'un bilan personnalisé
            </div>
          
            <h3>18 mars 2026</h3>
             <div class="changelog-entry">
                Création de la page web https://conjuguaisonv3.onrender.com
                Création de la partie visuelle du site
                Adaptation du code initial au site
            </div>

           <h3>19 mars 2026</h3>
            <div class="changelog-entry">
                Création du journal de modifications
            </div>
        </div>

       <a href="/" class="back-button">← Retour à l’accueil</a>
    </div>
</body>
</html>
