<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bilan</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Bilan de la session</h1>
    
    <p>Plus vous avez répondu à des questions, plus le bilan sera précis et adapté à vos besoins<p/>
    <p>Questions posées : {{ total }}</p>
    <p>Bonnes réponses : {{ score }}</p>
    <p>Taux de réussite : {{ taux }}%</p>
    <p>Temps total : {{ duree }} sec</p>
    <p>Temps moyen : {{ temps_moyen }} sec/question</p>

    <h2>Détails des erreurs</h2>
    {% if erreurs %}
        {% for e in erreurs %}
            <p>• {{ e[0] }} — {{ e[1] }} — {{ e[2] }} — {{ e[3] }} : « {{ e[4] }} » → « {{ e[5] }} »</p>
        {% endfor %}
    {% else %}
        <p>Aucune erreur. Bravo ! 🎉</p>
    {% endif %}

    {% if analyse %}
        <h2>Analyse</h2>
    <p><strong>Verbe(s) le(s) moins réussi(s) :</strong></p>
<ul>
{% for verbe, nb in analyse.verbes %}
    <li>{{ verbe }} ({{ nb }} erreur{% if nb > 1 %}s{% endif %})</li>
{% endfor %}
</ul>

    <p><strong>Mode(s) le(s) moins réussi(s) :</strong></p>
<ul>
{% for mode, nb in analyse.modes %}
    <li>{{ mode }} ({{ nb }} erreur{% if nb > 1 %}s{% endif %})</li>
{% endfor %}
</ul>

    <p><strong>Temps le(s) moins réussi(s) :</strong></p>
<ul>
{% for temps, nb in analyse.temps %}
    <li>{{ temps }} ({{ nb }} erreur{% if nb > 1 %}s{% endif %})</li>
{% endfor %}
</ul>


        <h3>Suggestion de révision</h3>
        <p>{{ analyse.suggestion }}</p>
    {% endif %}

    <a href="/" class="btn">Recommencer</a>
</div>

</body>
</html>
