<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Quiz de Conjugaison</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="container" style="margin-bottom: 40px;">
    <h1>Choisis ton mode d’apprentissage</h1>
</div>
<!-- ============================
     CARTE 1 — QUIZ CLASSIQUE
     ============================ -->
<div class="menu-row">
    
    <div class="container">
        <!-- Carte 1 -->
        <h1>Quiz de Conjugaison</h1>
        <p>Un verbe, un mode, un temps, un pronom, et une voix choisis aléatoirement… à toi de jouer. (liste 1 à 4)</p>

        <form action="/quiz" method="get">
            <div class="switch-container">
                <label class="switch-label">Mode entraînement</label>
                <label class="switch">
                    <input type="checkbox" name="mode" value="evaluation">
                    <span class="slider"></span>
                </label>
                <label class="switch-label">Mode évaluation</label>
            </div>

            <button type="submit" class="btn">Commencer</button>
        </form>
    </div>

    <div class="container">
        <!-- Carte 2 -->
        <h1>Révision ciblée</h1>
        <p>Choisis précisément les modes, temps, personnes, voix et verbes que tu souhaites travailler.</p>

        <a href="/cible" class="btn">Révision ciblée</a>
    </div>

</div>


<!-- ============================
     FOOTER — JOURNAL DES MODIFS
     ============================ -->
<div class="menu-footer">
    <a href="/changelog" class="menu-link">Journal des modifications</a>
</div>

</body>
</html>
